<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:100,300,400,600" rel="stylesheet" type="text/css">
        <title>El Tiempo</title>
        <!-- Bootstrap core CSS -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>  

    <body>
        <div class="container">
            <h3>Weather App</h3>
                <form class="search form-group form-inline">
                    <label>Address</label> 
                    <div class="input-group">
                        <input class="search__field form-control" type="text" name="location" placeholder="Type localitation" autofocus/>
                        <div class="input-group-btn">
                            <button class= "btn search__btn btn-default" type="submit"><i class="glyphicon glyphicon-search"/></i></button>
                        </div>
                    </div>
                </form>
        <!-- <script  src="js/bundle.js"></script> -->
            <div class="results">
                <ul class="results__list">
                </ul>
            </div>
        </div>
        <div class="footer copyright">
                &copy; by Frodri20h
        </div>
    </body>
</html>
