{{#section 'head'}}
<!-- stuff that goes in head...example: -->
<link type="text/css" rel="stylesheet" href="/css/login.css"> {{/section}}

<form class="form-signin" action="/login" method="POST">
  <!-- <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72"> -->
  <!-- <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>  -->
  <h1 class="h3 mb-3 font-weight-normal">If you want to access to app, you must sing in first!</h1>
  <!-- <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus> -->
  <label for="inputUserName" class="sr-only">User Name</label>
  <input type="text" id="inputUserName" name="username" class="form-control" placeholder="User Name" required autofocus>
  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
  <div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="remember-me"> Remember me
    </label>
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  <p class="mt-5 mb-3 text-muted">&copy; Pff team - 2018</p>
</form>